@font-face {
  font-family: "PrimaryFont";
  src: url("../fonts/Barlow-Medium.ttf") format("truetype");
  /* src: url("../fonts/RadioCanada-Medium.ttf") format("truetype"); */
}

@font-face {
  font-family: "CodeFont";
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CodeFontBold";
  src: url("/assets/fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

:root {
    --primary-family: "PrimaryFont";
    --primary-header-0-size: 28px;
    --primary-header-1-size: 24px;
    --primary-header-2-size: 22px;
    --primary-header-3-size: 20px;
    --primary-header-4-size: 18px;
    --primary-header-5-size: 16px;
    --primary-font-size: 15px; /* Light theme background */
    --primary-padding-common: 10px;
    --primary-linker-color: #5488e8;
    --primary-theme-color: #6767CE; /* Light theme text */
    --primary-theme-color-transparent: #6767CE; /* Light theme text */
    --secondary-theme-color: #498789; /* Accent color */
    --tertiary-theme-color: #ffae0090; /* Light theme text */
    --quaternary-theme-color: #8b1a8f90; /* Light theme text */
    --soft-gray-theme-color: #E2E2E2; /* Accent color */
    --code-font-family: "CodeFontBold";
    --code-background-color: #ffe96d4b;
    --md-bg-light-color: #d3d3e9;
    --md-bg-dark-color: #020226;
    /* --code-font-family: 'Noto Sans Mono Light'; */
    --md-text-font: "PrimaryFont";
    --md-code-font: "CodeFont";
    /* Fix font light be too bright by opacity */
    --tertiary-theme-color: #ffae00F0;
    --md-typeset-a-color: #d5340c;
}

/* General Color Scheme */
.md-tabs {
  background-color: #4a444b;
}
.md-footer {
  background-color: #4a444b;
}
[data-md-color-scheme=slate][data-md-color-primary="blue grey"], [data-md-color-scheme=slate][data-md-color-primary=blue-grey], [data-md-color-scheme=slate][data-md-color-primary=grey], [data-md-color-scheme=slate][data-md-color-primary=white] {
  --md-typeset-a-color: orange;
}
/* Light theme */
[data-md-color-scheme=default][data-md-color-primary="blue-grey"] {
  --md-typeset-a-color: #a04311;
  --md-default-bg-color: #e4e4e4;
  --md-code-bg-color: #d9d9d9;
  --custom-color-theme-h1--theme: #383239;
  --custom-color-theme-h2--theme: #383239;
  --custom-color-theme-h3--theme: #754344;
  --custom-color-theme-h4--theme: #4d324d;
  --custom-color-theme-h5--theme: #284a12;
  --custom-color-theme-h6--theme: #11484f;
  --custom-color-grid-cards-backgroun-color: #6e2d7a21;
  --custom-color-checkbox-color: #477c62;
}
/* Dark theme */
[data-md-color-scheme=slate][data-md-color-primary="blue-grey"] {
  --md-typeset-a-color: #c09369;
  --md-default-bg-color: #1e1e1e;
  --custom-color-theme-h1--theme: #a697a8;
  --custom-color-theme-h2--theme: #a697a8;
  --custom-color-theme-h3--theme: #a37a48;
  --custom-color-theme-h4--theme: #785878;
  --custom-color-theme-h5--theme: #628848;
  --custom-color-theme-h6--theme: #467a80;
  --custom-color-checkbox-color: #00e676;
}

/* Full width = max-width: initial; or try 100% or 1280px or ...  */
/* .md-grid {
  max-width: initial;
} */
.md-nav {
  font-size: .5rem;
  line-height: 1.5;
}
.md-typeset {
  font-size: 0.6rem
}
.md-footer, .md-tabs {
  background-color: #544555;
}
.md-header, .md-footer-meta {
  background-color: #383239;
}
.md-main__inner.md-grid.full-width {
  max-width: initial;
}
a:not(.md-nav__link):not(.md-tabs__link):not(.md-nav__link--active):not(.md-header__button) {
  font-style: italic;
}
.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
  font-weight: bold;
}
/* a.md-nav__link::before {
  content: "🗋 ";
} */
.md-nav__item .md-nav__link--active::before {
  content: "🗁 ";
  /* ➜≫◈ⁱ◫ ⊸⊶↠↳∠∟↵*/
}
label.md-nav__link::before {
  content: "🖿 ";
}
.md-typeset h1 {
  font-weight: bold;
  text-align: center;
  color: var(--custom-color-theme-h1--theme);
}
.md-typeset h2 {
  color: #808080;
  font-weight: bold;
  color: var(--custom-color-theme-h2--theme);
}
.md-typeset h2::before { content: "🖈 "; }
.md-typeset h3 {
    font-weight: bold;
    color: var(--custom-color-theme-h3--theme);
}
.md-typeset h4 {
    font-weight: bold;
    color: var(--custom-color-theme-h4--theme);
}
.md-typeset h5 {
    color: var(--custom-color-theme-h5--theme);
}
.md-typeset h6 {
    font-style: italic;
    color: var(--custom-color-theme-h6--theme);
}

/* .md-typeset h3::before { content: "† "; }
.md-typeset h4::before { content: "† "; }
.md-typeset h5::before { content: "† "; }
.md-typeset h6::before { content: "† "; } */

mark.green {
    color: #020226;
    background-color: #81ff92!important;
}
mark.red {
    color: #020226;
    background-color: #ff8585!important;
}
mark.blue {
    color: #020226;
    background-color: rgb(109, 218, 255)!important;
}

.center-table {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.center-table table {
  margin: 0 auto;
}

/* Change table size */
.md-typeset table:not([class]) th {
  background-color: #4a444b;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
}
.md-typeset table th[role=columnheader]:after {
  background: white;
}
.md-typeset table th[role=columnheader][aria-sort=ascending]:after, .md-typeset table th[role=columnheader][aria-sort=descending]:after
{
  background-color: rgb(149, 255, 0);
}

.md-typeset table:not([class]) td {
  padding: 0em 1em 0em 1em;
  font-size: small;
}

div.grid-container-4-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    padding: 0px;
    height: fit-content;
    box-sizing: border-box;
}

/* code */
:not(pre):not(.hljs) > code {
    color: var(--code-color);
    background-color: var(--code-background-color);
    font-family: var(--code-font-family);
}

/* center table */
.md-typeset .md-typeset__table {
    display: block;
}
.md-typeset__table table:not([class]) {
    display: table;
}

img.small-icon {
  width: 120px;
}

.md-typeset .grid {
  display: -webkit-box;
}
div.grid.cards {
  background-color: var(--custom-color-grid-cards-backgroun-color);
}

.md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: var(--custom-color-checkbox-color);
}